################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.TTF
/Assignment/Assignment/Data
/Assignment/Assignment/Media/Images
/Assignment/Assignment/Debug
/Assignment/Debug
/Assignment/Assignment.VC.db
/Assignment/Assignment.VC.VC.opendb
